html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Enhancing the visibility of Bootstrap badges */
.badge-success {
    background-color: #28a745; /* Adjust this if needed */
    border: 2px solid #155724; /* Giving a pronounced border */
    font-weight: bold; /* Making the text bold */
}

.badge-warning {
    background-color: #ffc107; /* Adjust this if needed */
    border: 2px solid #856404; /* Giving a pronounced border */
    font-weight: bold; /* Making the text bold */
}
/* To ensure borders collapse into a single border */
table {
    border-collapse: collapse;
}

    /* Add border to table header cells */
    table th {
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        padding-left: 4px;
        padding-right: 4px;
    }

thead th {
    border-bottom: 1px solid black;
}

th {
    vertical-align: top;
}
/* Add border to table data cells */
table td {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
}

    /* Remove border from the last table header and data cells */
    table th:last-child, table td:last-child {
        border-right: none;
    }
    /* Remove border from the first table header and data cells */
    table th:first-child, table td:first-child {
        border-left: none;
    }

.score-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .score-card .score {
        padding: 5px 10px 5px 0;
    }

.card {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s; /* This makes the hover effect smooth */
}

.navbar-nav .nav-item:hover {
    background-color: rgba(0, 123, 255, 0.1); /* This is the hover effect */
}

.navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}
.help-text {
    opacity: 0.7; /* Fade effect */
    margin-left: 10px; /* Add some space to the left */
    font-style: italic; /* Italicize the text */
    font-size: 90%; /* Slightly reduce font size */
    padding: 2px 5px; /* Add padding to visually isolate */
    border-radius: 3px; /* Optional: rounded borders for the padding */
    background-color: #f8f9fa; /* Optional: light background color for emphasis */
}

.job-title{
    font-weight: bold;
}