html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Enhancing the visibility of Bootstrap badges */
.badge-success {
    background-color: #28a745; /* Adjust this if needed */
    border: 2px solid #155724; /* Giving a pronounced border */
    font-weight: bold; /* Making the text bold */
}

.badge-warning {
    background-color: #ffc107; /* Adjust this if needed */
    border: 2px solid #856404; /* Giving a pronounced border */
    font-weight: bold; /* Making the text bold */
}
/* To ensure borders collapse into a single border */
table {
    border-collapse: collapse;
}

/* Add border to table header cells */
    table th {
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        padding-left: 4px;
        padding-right: 4px;
    }

thead th {
    border-bottom: 1px solid black;
}
 th {
    vertical-align: top;
}
/* Add border to table data cells */
table td {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
}

/* Remove border from the last table header and data cells */
table th:last-child, table td:last-child {
    border-right: none;
}
/* Remove border from the first table header and data cells */
table th:first-child, table td:first-child {
    border-left: none;
}

.score-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.score-card .score {
    padding: 5px 10px 5px 0;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
}
