@page
@model PostingVacanciesModel
@{
}

<h1>Filling in details</h1>

<p>This website manages the process of gather candidate information and recording information about interviews for a vacancy</p>

<p>If you are asked to 'fill in some details' this will either because you are a candidate and need to give information about yourself, or 
    because you are an interviewer and need to give information about an interview you have conducted. The process is the same.
</p>

<p>On the <a href="/">home page</a> You will have a list of things you need to fill in at the top. Click on one of those links and answer the questions </p>

<h2>Save and Draft</h2>
<p>When you save the answer to questions you can do this by 'Save' or 'Save Draft'</p>
<ul>
    <li>Drafts are still marked 'for you to fill in'</li>
    <li>Saves are marked 'done'</li>
</ul>

