@page
@model gui.Pages.Info.ManagingModel

<h1>Managing</h1>

<p>You can ask the owner of a Job (the person that created it) to add you as a 'Manager' of a Job</p>

<p>When you are the manager of a job you can see details about applications for that job.</p>

<ul>
    <li>The 'My Managed Jobs' view on the top menu</li>
    <li>The 'Search'on the top menu expects an email</li>

</ul>
