@page
@model PostingVacanciesModel
@{
}

<h1>Posting Vacancies</h1>

<p>This website manages the process of gather candidate information and recording information about interviews for a vacancy</p>

<p>Usually you have three parts that need to be filled in:</p>
<ul>
    <li>Candidate Details</li>
    <li>First interview details</li>
    <li>Second interview details</li>
</ul>

Before you make your first vacancy you should have a list of questions:
<ul>
    <li>A list for the candidate to fill in</li>
    <li>A list for first interview</li>
    <li>A list for second interview</li>
</ul>
You make these lists by going to the <a href="/SectionTemplates">Section Templates</a> page.

<p>Once you have made your lists you can make a vacancy by going to the <a href="/Jobs/Create">Create a new Job (Vacancy)</a> page.</p>