@page
@model gui.Pages.Info.SectionTemplatesModel
@{
}

<h1>Section Templates</h1>

When you post a vacancy you will ask people to fill in data. For example
<ul>
    <li>The candidate needs to post their details</li>
    <li>Interviewers needs to score their candidates against set questions</li>
</ul>

<p>For each job you need to set up those. Fortunately they are reusable! So once you have a 'candidates details' section you can use it for all your jobs.</p>

<p><a href="/SectionTemplates/Create">Click here to create one</a></p>
<partial name="_MakeTestDataPartial" />