@page
@using gui.Pages.Shared;
@using xingyi.common;
@using xingyi.application;
@using xingyi.job;
@using xingyi.job.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome @User.Identity.Name</h1>

    @if (Model.Nothing)
    {
        <p>Welcome to the site.</p>

        <p>You are currently not a candidate, or an interviewer. </p>
    }

    <p>Find out more about <a href="/Info/FillingIn">Filling in details</a></p>

    @Html.Partial("_SectionToDoList", new ToDoAndAppsDto<Section>
    {
    Title = "This is the list of details you have been asked to fill in",
    Items = Model.MyTodoSections
    })

    @Html.Partial("_SectionToDoList", new ToDoAndAppsDto<Section>
    {
    Title= "Details you have already filled in",
    Items = Model.MyDoneSections
    })





</div>
