@page
@using gui.Pages.Shared;
@using xingyi.gui;
@model gui.Pages.Applications.ForCandidateModel
@addTagHelper *, gui


<p>Please note that this only returns Candidates that you have permissions to see. If you are the Owner or Manager of a Job then you can see candidates for that Job</p>
@if (Model.Items.Count() == 0)
{
    if (string.IsNullOrEmpty(Model.Candidate))
    {
        <p>Enter a candidate email address to search for applications</p>
    }
    else
    {
        <p>No applications found for Candidate [@Model.Candidate]</p>
    }
}
else
{

    <h1>Candidate</h1>
    <p>@Model.Candidate</p>

    @Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
                {
                Title= "Applications  in Jobs that you own",
                Items = Model.Items,
                AllowEdits= false,
                ShowOwner= false
                })

}
@if (Model.ManagedByItems.Count > 0)
{
    <br />
    <br />
    <br />

    @Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
                {
                Title= "In the Jobs I Manage",
                Items = Model.ManagedByItems,
                AllowEdits= false,
                ShowOwner= true
                })
}