@page
@model gui.Pages.Guest.GuestModel


<h1>Welcome to Candidate Sourcing </h1>

<p>
    For large organisation, it is not practical to maintain the records of the interviewing process.
    This  Candidate Sourcing portal enables maintenance of the interview records and score the
    candidates based on the discussion.
</p>

<p>To Access the system you will need to <a href="/Identity/Login">Login</a></p>

<p>Once logged in (which needs a Google Account for this Minimum Viable Product)</p>
<ul>
    <li>You can create your own Jobs that need Candidates to fill them</li>
    <li>You can fill in any details requested of you</li>
    <li>You can add candidates for any Job you own</li>
    <li>You can can control who is the nominated interviewer for any Job you own</li>
</ul>

