<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gui.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/sourcing-icon-27.jpg" alt=" Candidate Sourcing Icon" style="width: 24px; height: 24px; margin-right: 5px;">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-dark" href="#" id="entitiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                            <ul class="dropdown-menu" aria-labelledby="entitiesDropdown">
                                <li><a class="dropdown-item" asp-page="/Jobs/Index">Jobs</a></li>
                                <li><a class="dropdown-item" asp-page="/SectionTemplates/Index">Sections</a></li>
                                <li><a class="dropdown-item" asp-page="/Admin">Admin tasks</a></li>
                            </ul>
                        </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-dark" href="#" id="entitiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Info</a>
                            <ul class="dropdown-menu" aria-labelledby="entitiesDropdown">
                                <li><a class="dropdown-item" asp-page="/Info/AboutUs">About Us</a></li>
                                <li><a class="dropdown-item" asp-page="/Info/FillingIn">Filling in</a></li>
                                <li><a class="dropdown-item" asp-page="/Info/PostingVacancies">Posting Vacancies</a></li>
                                <li><a class="dropdown-item" asp-page="/Info/SectionTemplates">Section Templates</a></li>
                            </ul>
                        </li>
                      

                        <li class="nav-item">
                            @await Html.PartialAsync("_LoginPartial")
                        </li>
                        <li class="nav-item">
                            <partial name="_SearchPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Philip Rice - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        //Resolves Razor pages generally incompetant handling of checkboxs. By default checkboxes break razor.
        //This is to with with the label-and-boolean taghelper
        //
        $(document).ready(function () {
            console.log("Document ready!");

            $("form").on('submit', function (event) {
                console.log("Form submit triggered.");

                $('.toggle-checkbox').each(function () {
                    var targetHiddenInput = $(this).data('toggle-target');
                    console.log("Processing Checkbox - Target Hidden Input ID:", targetHiddenInput);

                    var isChecked = $(this).is(':checked');
                    console.log("Checkbox is checked:", isChecked);

                    // Using a more forgiving selector to select the hidden input
                    var targetElement = $("input[id='" + targetHiddenInput + "']");
                    if (targetElement.length) {
                        targetElement.val(isChecked.toString());
                        console.log("Updated hidden input value to:", isChecked.toString());
                    } else {
                        console.log("Target hidden input not found.");
                    }
                });
            });
        });



    </script>
    <script>
        function updateSliderValue(value, targetId) {
            document.getElementById(targetId).textContent = value;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>