@using Microsoft.AspNetCore.Identity
@using xingyi.gui

@if (User.Identity.IsAuthenticated)
{
    <span class="navbar-text"><a class="nav-link text-dark d-inline-block" href="/Identity/Profile">Profile: @User.Identity.Name</a></span>
}
else
{
    <a class="nav-link text-dark" href="/Identity/Login">Login</a>
}
