@using Microsoft.AspNetCore.Identity
@using xingyi.gui

@if (User.Identity.IsAuthenticated)
{
    <span class="navbar-text">
        <form method="post" action="/Identity/Logout" class="d-inline-block">
            <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
        </form>
    </span>

}
