@{
}
<h2>For testing purposes</h2>
If you just want to play around with the system you can create some templates here:

<form action="/TestData/Create" method="post">
    <input type="hidden" name="someName" value="someValue"> <!-- Optional: Any data you'd like to send with the POST -->
    <button type="submit" class="btn btn-link text-primary">Click here to create a test job and section templates</button>
</form>
