@* _SearchPartial.cshtml *@
<form method="get" action="/Applications/ForCandidate">
    <div class="input-group">
        <input type="text" name="Candidate" placeholder="Candidate email..." class="form-control" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
