@page
@model gui.Pages.SectionTemplates.SectionTemplateCreateModel
@addTagHelper *, gui

<h1>Add New Section template</h1>

<display asp-for="Item">"</display>

<form method="post">
    <input type="hidden" asp-for="Item.Owner" />
    <label-and-input asp-for="Item.Title"></label-and-input>
    <label-and-input asp-for="Item.HelpText"></label-and-input>
    <label-and-boolean asp-for="Item.CanEditWho"></label-and-boolean>
    <label-and-input asp-for="Item.Who"></label-and-input>
    <h4>Questions</h4>
    <child-list bind-to="Item.Questions" attributes="@Model.QuestionFields"></child-list>
    <child-list-add-button bind-to="Item.Questions">Add Questions</child-list-add-button>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<child-list-script bind-to="Item.Questions" items-definition="@Model.QuestionFields" />


