@page
@model gui.Pages.SectionTemplates.SectionTemplateIndexModel

<h1>Section Templates</h1>

<p>Everyone is welcome to manage their Candidate Sourcing through us. Find out more about <a href="/Help/PostingVacancies">Posting Vacancies</a></p>


<a class="btn btn-primary" href="/SectionTemplates/Create">Add New Section Template</a>
<table class="table">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Owner</td>
                <td>@item.Title</td>

                <td><a href="/SectionTemplates/View/@item.Id">View</a></td>
                <td><a href="/SectionTemplates/Edit/@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
