@page "{Id}"
@model gui.Pages.Jobs.JobEditModel
@addTagHelper *, gui

<h1>Edit Job</h1>


<form method="post">
    <input type="hidden" asp-for="Item.Id" />
    <label-and-input asp-for="Item.Title"></label-and-input>
    <label-and-input asp-for="Item.Description"></label-and-input>
    <label-and-input asp-for="Item.Owner" readonly="true"></label-and-input>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
