@page
@model gui.Pages.Jobs.IndexModel

<h1>Jobs</h1>

<a class="btn btn-primary" href="/Jobs/Create">Add New Job</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Owner</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.Jobs)
        {
            <tr>
                <td>@job.Title</td>
                <td>@job.Description</td>
                <td>@job.Owner</td>
                <td><a href="/Jobs/View/@job.Id">View</a></td>
                <td><a href="/Jobs/Edit/@job.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
