@page
@using gui.Pages.Shared;
@using xingyi.gui;
@model gui.Pages.Jobs.MyJobsModel

@if (Model.Nothing)
{
    <h1>Welcome</h1>

    <p>This is a website that allows you to create 'Jobs' and track the people that apply for them.</p>

    <p>Currently you have no Jobs that you are the owner of</p>
}
<p>Find out more about <a href="/Help/PostingVacancies">Posting Vacancies</a></p>

@Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
    {
    Title= "My Active Jobs",
    // Message ="The email addresses in the 'section columns' are the people who need to fill in the sections.",
    Items = Model.MyActiveApps
    })
@Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
    {
    Title= "My inactive jobs",
    Items = Model.MyCompletedApps
    })
<a data-placement="top" data-toggle="tooltip" title="Click here if you want to add a new Job. The process for this job (questions asked/name and number of sections) can be controlled by you" href="/Jobs/Create"> Create a new Job (Vacancy)</a>
