@page
@using gui.Pages.Shared;
@using xingyi.gui;
@model gui.Pages.Jobs.MyJobsModel

@if (Model.Nothing)
{
    <h1>Welcome</h1>

    <p>This is a website that allows you to create 'Jobs' and track the people that apply for them.</p>

    <p>Currently you have no Jobs that you are the owner of</p>
}

@Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
    {
    Title= "Your active jobs",
    // Message ="The email addresses in the 'section columns' are the people who need to fill in the sections.",
    Items = Model.MyActiveApps
    })
@Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
    {
    Title= "Your inactive jobs",
    Items = Model.MyCompletedApps
    })
<p>Find out more about <a href="/Info/PostingVacancies">Posting Vacancies</a></p>
<a href="/Jobs/Create"> Create a new Job (Vacancy)</a>
