@page
@using gui.Pages.Shared;
@using xingyi.gui;
@model gui.Pages.Manager.IndexModel
@addTagHelper *, gui


@if (Model.Items.Count() == 0)
{
    <p> You are not the Manager of any jobs</p>

    <p><a href="/Help/Managing">Click here for information about the role of manager</a></p>
}
else
{

    @Html.Partial("_JobAndAppsToDoList", new ToDoAndAppsDto<JobAndApplications>
                {
                Title= "Jobs I Manage",
                Items = Model.Items,
                AllowEdits= false,
                ShowOwner= true               
                })
}